* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

.navbar {
  position: fixed;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 9999;
}

.navbar__list {
  display: flex;
  width: 30%;
  /* justify-content: space-around; */
  align-items: center;
  list-style: none;
}

.navbar__item {
  text-transform: uppercase;
  font-size: 14px;
  padding: 15px;
}

.navbar__item:hover {
  background-color: #ccc;
}

.navbar__item:hover .navbar__link {
  color: black;
}

.navbar__link {
  text-decoration: none;
  color: white;
}

.navbar__link:visited {
  color:white;
}

.search {
  background-color: transparent;
  border: none;
  padding: 12px 20px;
}

.search:hover {
  background-color: #f44336;
}

.search__icon {
  color: white;
  height: 16px;
  width: 16px;
}

.hero-container {
  background-image: url(https://www.w3schools.com/w3images/ny.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero-container__title {
  font-size: 36px;
  color: white;
  text-align: center;
  margin-bottom: 17px;
  font-weight: 400;
}

.hero-container__text {
  font-size: 18px;
  color: white;
  text-align: center;
  margin-bottom: 40px;
}

.title {
  font-weight: 400;
  text-align: center;
  letter-spacing: 5px;
  font-size: 30px;
  text-transform: uppercase;
}

.title_theme_dark{
  color: white;
}

.subtitle{
  font-weight: 400;
  text-align: center;
  font-size: 13px;
  font-style: italic;
  color: gray;
  margin: 17px 0;
}

.subtitle_theme_dark{
    color: white;
    backdrop-filter: contrast(7.37);
    font-size: 15px;
}

.container {
  width: 80%;
  max-width: 768px;
  margin: 0 auto;
  padding: 74px 0 112px;
}

.band__text {
  text-align: justify;
}

.band__members{
  margin: 62px auto 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.member__name {
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
}

.member__image {
  width: 154px;
  height: 154px;
  margin: 0 auto;
}

.tour{
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  padding-bottom: 112px;
}

.calendar{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.available{
  height: 40px;
  display:flex;
  border-bottom: 1px solid #ddd;
  background: white;
  justify-content: space-between;
}

.available_text{
  color: #d3d3d3;
  padding: 8px 16px;
  font-size: 15px;
}

.available_sold{
  justify-content: flex-start;
}

.sold{
  display: flex;
  padding: 3px 0 3px 0;
  background-color: #f44336;
  width: 70px;
  margin-bottom: 10px;
  align-self: center;
}

.sold_text{
  font-size: 15px;
  color:white;
  z-index: 1;
  text-align: center;
  justify-content: center;
  margin: auto 0;
}

.circle_date{
  display: flex;
  text-align: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: black;
  z-index: 0;
  margin: auto 23px;
}

.circle_date_text{
  color: white;
  font-size: 15px;
  z-index: 1;
  margin: auto;
}


.cards{
  display: flex;
  margin-top: 25px;
  gap: 8px;
}

.card {
  background-color: white;
}

.card__image {
  width: 100%;
}

.card__description {
  padding: 18px;
}
.card__title {
  margin-bottom: 18px;
}
.card__date {
  color: gray;
  margin-bottom: 18px; 
}
.card__text {
  font-size: 14px;
  margin-bottom: 18px;
}

.button {
  display: inline-block;
  background-color: black;
  color: white;
  font-size: 14px;
  padding: 10px 15px;
  text-decoration: none;
  border: none;
}

.button_form {
  text-transform: uppercase;
}

.button:hover {
  background-color: #ccc;
  color: black;
}

.contact {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.contact__item {
  list-style: none;
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 4px;
}

.contact__icon {
  height: 16px;
  width: 16px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact__inputs {
  display: flex;
  gap: 16px;
}

.contact__input {
  padding: 8px;
  border: 1px solid #CCC;
  resize: vertical;
}

.contact__button {
  text-align: right;
}


